name: Release

on:
  push:
    paths:
      - .github/workflows/main.yml
      - Scripts/**
      - TelMe.csproj
      - setup.iss

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: 9.x
          cache: true

      - name: Publish
        run: dotnet publish -c Release

      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: build
          path: dist/Setup.exe

  release:
    needs: build
    uses: winstxnhdw/actions/.github/workflows/release.yml@main
    with:
      release-tag: latest
      release-title: TelMe Installer
      release-asset: dist/Setup.exe
      artifact-name: build
      artifact-path: dist/
